{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css'%}">
    {%block stylesheet%}{%endblock%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav class="header">
        <!-- <a href="">Laboratoře z Fyziky FS ČVUT</a> -->
        {% if default_title %}
            <h1>Laboratoře z Fyziky FS ČVUT</h1>
        {% else %}

        <img class="navbar__icon" src="{% static 'svg/menu.svg'%}" alt="Menu">

        <div class="option-container menu" >
            <a href="{% url 'home' %}" class="nav-item">
                    <p>Domů</p>
            </a>

            {% if user.is_staff %}
            <a href="{% url 'topics'%}" class="nav-item">
                    <p>Témata</p>
            </a>
            <a href="{% url 'create_event'%}" class="nav-item">
                    <p>Vytvořit termín</p>
            </a>
            <a href="{% url 'approve_page' %}" class="nav-item">
                    <p>Potvrdit registrace</p>
            </a>
            <a href="{% url 'export' %}" class="nav-item">
                <p>Export</p>
            </a>
            {% else %}
            <a href="{% url 'my_labs' %}" class="nav-item">
                    <p>Přihlášené</p>
            </a>
            {% endif %}
        </div>
        <div class="option-container">
            <p style="margin-right: 5px;">
                Přihlášen jako: {{user.email}}
            </p>
            <a href="{% url 'logout'%}" class="nav-item">
                <p>Odhlásit</p>
            </a>
        </div>
        
        {% endif %}
    </nav>

    {%block content%}
    {%endblock%}

    <script>
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function isBottom() {
        return window.innerHeight + window.scrollY + 1 >= document.documentElement.scrollHeight;
    }

    const menu = document.querySelector(".menu")
    const toggle = document.querySelector(".navbar__icon")
    const close = document.querySelector(".nav__close")


        toggle.addEventListener("click", ()=> {
            if (!menu.classList.contains("show-menu")) {
                menu.classList.add("show-menu")
            } else if (menu.classList.contains("show-menu")) {
                menu.classList.remove("show-menu")
            }
        })

    if(close) {
        close.addEventListener("click", ()=> {
            menu.classList.remove("show-menu")
        })
    }


    const link = document.querySelectorAll(".nav__link");

    function linkAction () {
        const menu = document.querySelector(".nav__menu")
        menu.classList.remove("show-menu")

    }

    link.forEach(n => n.addEventListener("click", linkAction));
        </script>

    {% block script %}
    {% endblock %}
    
</body>
</html>