

.radio-form {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}

.radio-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.radio-form input[type="radio"] {
    margin-right: 5px;
}

.submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.submit-button:hover {
    background-color: #0056b3;
}

.inner-apply-event {
    max-width: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-cancel {
    height: 40px;
    width: 150px;
    color: white;
    background-color: red;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.3s;
    margin: 0 auto;
}

.btn-cancel:hover {
    color: white;
    background-color: rgb(165, 0, 0);
}

#list-students {
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.li-student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8ebff;
    padding: 10px 20px;
    border-radius: 20px;
}

.lab-item-event {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#lab-title {
    margin-bottom: 5px;
}

.form-topics {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.choice-container {
    display: flex;
    flex-direction: column;
    background-color: #d8ebff;
    padding: 20px 20px;
    border-radius: 20px;
    gap: 5px;
}

.choice-container label {
    padding: 5px;
    transition: 0.3s;
    border-radius: 5px;
}

.choice-container label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#topics-title {
    margin-bottom: 5px;
}

form button {
    margin: 0 auto;
}

.full {
    background-color: rgb(255, 206, 206);
}