@import url("./variables.css");

h2 {
    color: var(--dark-grey);
    text-align: center;
}


.container a {
    text-decoration: none;
    display: block;
    width: 80%;
    max-width: 800px;
}

.applied-background {
    background-color: rgb(193, 228, 248);
}

.full-background {
    background-color: rgb(255, 206, 206);
}

.lab-item-wrap {
    display: flex;
}

.lab-item-wrap--home{
    gap: 15%;
}

.lab-item-wrap--reg {
    justify-content: space-between;
}

.lab-item-wrap h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.lab-item-buttons {
    display: flex;
    align-items: center;
<<<<<<< HEAD
=======
    gap: 10px;
>>>>>>> 9e226dca4e55879351b06833d522709091645517
}

@keyframes disapear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

h3 span {
    margin-right: 10px;
    color: #0067d4;
    font-size: 24px;
}

.inner-export {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.export-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export-card p {
    font-size: 18px;
}

.export-card a {
    flex: 0;
<<<<<<< HEAD
}

/* responsivity */

@media screen and (max-width: 770px) {
    .lab-item-wrap {
        flex-direction: column;
    }

    .container a {
        width: 100%;
    }
  }

  
@media screen and (max-width: 600px) {

    h3 span {
        font-size: 20px;
    }

    .export-card p {
        font-size: 15px;
    }

  }


  @media screen and (max-width: 400px) {
    p {
        font-size: 14px;
    }
  }

=======
}
>>>>>>> 9e226dca4e55879351b06833d522709091645517
