

{% extends 'base.html' %}

{% load static %}
{% load main_tags %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'apply_event.css'%}">
{%endblock%}

{% block content %}
    <div class="radio-form">
        <div>
            <h3>Laboratorní cvičení {{event.lab_datetime|date_string}}</h3>
            <p>Uzávěr přihlášení: {{event.close_login|date_string}}</p>
            <p style="color:red">{{login_message}}</p>
            <p>Uzávěr odhlášení: {{event.close_logout|date_string}}</p>
            <p style="color:red">{{logout_message}}</p>
            <p>Přihlášeno: {{event.get_number_applied_users}}/{{event.capacity}}</p>
        </div>
        {% if user.is_staff %}
            <a href="{% url 'delete_event' event.id %}">Zrušit hodinu</a>
        {% endif %}

        {% if form %} <!-- form is none if user is staff -->
            {% call event 'get_user_topic' user as user_topic %}

            {% if user_topic %}
                <p>Na tuto hodinu jste přihlášen</p>
                <p>Téma: {{ user_topic.title }}</p>
                <form action="{% url 'apply_event' event.id %}?operation=logout" method="post">
                    {% csrf_token %}
                    <button type="submit" class="submit-button">Odhlásit</button>
                </form>
            {% else %}
                {% if event.is_full %}
                    <p>Hodina je již obsazena</p>
                {% else %}
                    {% if any_free_topics%}
                        <form action="{% url 'apply_event' event.id %}?operation=apply" method="post">
                            {% csrf_token %}
                            {{form}}
                            <button type="submit" class="submit-button">Přihlásit</button>
                        </form>
                    {% else %}
                        <p>Žádná volná témata</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %} <!-- if user is staff do this -->

        <p>Přihlášení:</p>
        <ul>
            {% for applied_user in event.get_applied_users %}
                {% call applied_user 'get_link_for_event' event as link %}
                <ul>{{applied_user}}, {{ link.topic.title }} 
                    <button class="btn-remove-user" data-user_id="{{applied_user.id}}" data-event_id="{{event.id}}">
                        Odhlásit
                    </button>
                </ul>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".btn-remove-user").forEach((btn) => {
                const eventId = btn.dataset.event_id;
                const userId = btn.dataset.user_id;
                btn.onclick = () =>  {
                    fetch(`${window.location.origin}/api/event/${eventId}/user/${userId}`)
                        .then(async response => {
                            if (response.status >= 200 && response.status < 400) {
                                location.reload();
                            } else {
                                const json = await response.json();
                                alert(json.message);
                            }
                        })
                }
            })
        })
    </script>
{% endblock %}