
{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'create_event.css'%}">
{%endblock%}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'create_event'%}">
            {% csrf_token %}
            <div class="form-group">
                {{form.close_logout.label}}
                {{form.close_logout}}
            </div>
            <div class="form-group">
                {{form.close_login.label}}
                {{form.close_login}}
            </div>
            <div class="form-group">
                {{form.lab_datetime.label}}
                {{form.lab_datetime}}
            </div>
            <div class="form-group">
                {{form.capacity.label}}
                {{form.capacity}}
            </div>
            <div class="form-group">
                {{form.topic.label}}
                <div class="lab-topics">
                    {{form.topics}}
                </div>
            </div>
            <button type="submit" class="submit-button">Create Lab</button>
        </form>
    </div>

{% endblock %}