{% extends 'base.html' %}


{% block title%}Home{% endblock%}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock %}

{%block content%}
    <div class="container">
        <h2>Následující cvičení</h2>
    </div>

{% endblock %}

{% block script %}
<script>
    
    function createLab({id, lab_date, close_login, close_logout, capacity, num_users, num_topics}) {
        const anchor = document.createElement('a');
        anchor.setAttribute("href", `${window.location.origin}/event/${id}`);
        anchor.innerHTML = `
            <div class="lab-item">
                <h3>Laboratorní cvičení ${lab_date}</h3>
                <p>Datum uzávěru přihlášení: ${close_login}</p>
                <p>Datum uzávěru odhlášení: ${close_logout}</p>
                <p>Počet témat: ${num_topics}</p>
                <p>Přihlášeni: ${num_users}/${capacity}</p>
            </div>
        `
        return anchor;
    }

    document.addEventListener("DOMContentLoaded", () => {
        const container = document.querySelector(".container");
        
        fetch(`${window.location.origin}{% url 'api_events'%}`)
        .then(response => response.json())
        .then(data => data.map(item => createLab(item)))
        .then(tags => tags.forEach(x => container.appendChild(x)))
        .catch(e => alert(e.message))
    })

</script>

{% endblock %}
