
{% extends 'base.html' %}


{% block title%}Home{% endblock%}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock %}

{%block content%}
    <div class="container">
        {% for event in events%}
            <div class="lab-item">
                <h3>Laboratorní cvičení {{event.lab_datetime}}</h3>
                <p>Datum uzávěru přihlášení: {{event.close_login}}</p>
                <p>Datum uzávěru odhlášení: {{event.close_logout}}</p>
                <p>Počet témat: {{event.num_topics}}</p>
                <p>Přihlášeni: {{event.get_number_applied_users}}/{{event.capacity}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}