{% extends 'base.html' %}

{% load static%}

{% block stylesheet%}
    <link rel="stylesheet" href="{% static 'topics.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="inner">
            <h3>Nové téma:</h3>
            <div class="topic-item topic-item--first">
                <div class="topic-container">
                    <input type="text" id="input-new">
                </div>
                <a id="add-new" style="width: 120px;">Nové téma</a>
            </div>
            <h3>Existující témata:</h3>
    
        </div>
    </div>
{%endblock%}

{% block script%}
<script>

    function addFunctionality(item) {
        item.querySelectorAll('[id^="modify-"]').forEach(element => {
            element.onclick = () => switchContent(item);
        });

        item.querySelectorAll('[id^="remove-"]').forEach(element => {
            element.onclick = () => removeItem(item);
        });
    }

    function createItem({title, id}) {
        const itemDiv = document.createElement("div");

        itemDiv.classList.add("topic-item");
        itemDiv.setAttribute('data-id', id)
        itemDiv.innerHTML = `
            <div id="item-${id}" class="topic-container">
                <h3>${title}</h3>
            </div>
            <div id="buttons-${id}" class="topic-buttons">
                <a id="modify-${id}" data-id="${id}">Modify</a>
                <a id="remove-${id}" data-id="${id}">Remove</a>
            </div>
        `

        addFunctionality(itemDiv)
        return itemDiv;
    }

    async function removeItem(item) {
        fetch(`${window.location.origin}{% url 'api_remove_topic'%}`, {
            method: "DELETE",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({id: item.dataset.id})
        })
        .then(async response => {
            if (response.status >= 200 && response.status < 400){
                item.remove();
            } else {
                json = await response.json();
                throw new Error(json.message);
            }
        })
        .catch(e => alert(e.message))
    }


    const switchContent = (item) => {
        const id = item.dataset.id;
        const contentContainer = document.getElementById(`item-${id}`);
        const buttonContainer = document.getElementById(`buttons-${id}`);
        const originalText = contentContainer.querySelector("h3").textContent;

        const input = document.createElement('input');
        input.value = originalText;

        contentContainer.innerHTML = "";
        contentContainer.appendChild(input);

        buttonContainer.innerHTML = "";

        const saveButton = document.createElement('a');
        saveButton.setAttribute("id", `save-${id}`);
        saveButton.textContent = "Save";
        saveButton.onclick = () => {
            fetch(`${window.location.origin}{% url 'api_modify_topic'%}`, {
                method: "PUT",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": getCookie("csrftoken")
                },
                body: JSON.stringify({id: id, topic: input.value})

            })
            .then(response => response.json())
            .then(data => {
                contentContainer.innerHTML = `<h3>${data.title}</h3>`;
                buttonContainer.innerHTML = `
                <a href="#" id="modify-${id}">Modify</a>
                <a href="#" id="remove-${id}">Remove</a>`;
                document.getElementById(`modify-${id}`).onclick = () => switchContent(item);
                document.getElementById(`remove-${id}`).onclick = () => removeItem(item);
            })
            .catch(e => alert(e.message))
        }
        buttonContainer.appendChild(saveButton);
    }

    document.addEventListener("DOMContentLoaded", () => {
        const container = document.querySelector(".inner");


        // load existing topics
        fetch(`${window.location.origin}{% url 'api_topics'%}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(item => {
                    container.appendChild(createItem(item));
                })
            })
        
        // new section
        const inputNew = document.getElementById("input-new");
        const anchorNew = document.getElementById("add-new");
        anchorNew.onclick = () => {
            fetch(`${window.location.origin}{% url 'api_new_topic'%}`, 
            {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": getCookie("csrftoken")
                },
                body: JSON.stringify({
                    topic: inputNew.value,
                })
            })
            .then(async response => {
                if (response.status >= 200 && response.status <= 399) {
                    const item = createItem(await response.json());
                    container.appendChild(item);
                    inputNew.value = "";
                } else {
                    let json = await response.json()
                    throw new Error(json.message);
                }
            })
            .catch(e => alert(e.message));
        }



    })
</script>
{%endblock%}